.container {
    margin: 10px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

input {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: block;
    text-align: center;
}

button {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #ccc;
    background-color: rgb(8, 78, 115);
    color: white;
    cursor: pointer;
}

.sep {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bars {
    margin: 5px;
    padding: 10px;
    display: flex;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: flex;
    float: left;
    overflow-y: hidden;
    overflow-x: scroll;
}

.flex-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: all 2s ease-in;
}